<a href="https://colab.research.google.com/github/rodrigopcarvalho/tabuada/blob/main/tabuada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
n = int(input('Digite o Número que você deseja a Tabuada: '))

for i in range(11):
    print(n, 'x', i, '=', n*i)

Digite o Número que você deseja a Tabuada: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
# Transformando o codigo da tabuada em uma função.

def tabuada(n):
    for i in range(11):
        print(n, 'x', i, '=', n*i)

In [5]:
tabuada(5)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50